body {
    padding-top: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #bddbf6;
    color: #ec91a2;
}

.intro-img {
    width: 300px;
    border-radius: 100%;
    border: 8px solid #ddd;
    margin-bottom: 15px;
}

h2, h3 {
    color: #07182c;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    color: #0e0c0c;
    transition: color 0.3s;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #0d6efd;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 25px 0;
    text-align: center;
    font-size: 15px;
    color: #555;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: #0d6efd;
}

footer a:hover {
    text-decoration: underline;
}
